/*
	Les couleurs le vert : 	#29B173
							#1C9C5A
	Le bleu #2C4291
	
	metiers : 	#293A86
				#084B89
*/
html,body{
  font-family: 'Montserrat', sans-serif !important;
  color: #333;
  color: rgba(0,0,0,0.5);
  font-size: 15px;
  height: 100%;
}
p{
  font-size: 1em;
}
.light{
  color: #ffffff !important;
}
a{
  color: #29B173 !important;
  text-transform: uppercase;
}
btn.primary{
  background:#29B173;
}
h1{
  text-transform: uppercase!important;
  font-weight: 900 !important;
  font-size: 6em;
}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    text-transform: uppercase!important;
    font-size: 100%;
    margin:0;
    padding:0;
    color:#444;
}

@media(min-width: 768px){
  .col-1-5{
    width: 33%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media(min-width: 992px){
  .col-1-5{
    width:20%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media(max-width: 768px){
  .col-1-5{
    width:50%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }
  #section0 h1{
    font-size: 1.3em;
  }
}

.col-1-5 {
  height: 150px;
}
/*SECTION FULLPAGE*/
.section{
	background-size: cover;
}
#section0{
		background-image: url(../assets/img/home.jpg);
    background-position: bottom center;
	}
	
.section:before {
    content:'';
    position:absolute;
    width:100%;
    height:10px;
    background:linear-gradient(to left,#1caa74, #2b4093);
    /*top:-10px;*/
    left:0;
}
.droite{
	background-color: #171717;
}
.row {
  margin-right: -15px;
  margin-left: -15px;
}
.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.navbar {
	margin-top: 10px;
	background-color: transparent !important;
  text-transform: uppercase;
  font-size: 0.7em;
  font-weight: 600;
  position: absolute !important;
  top: 0;
  width:100%;
  z-index: 10;
}
.mymenu{
	margin:0px 140px 0px 0px;

}
ul.mymenu{
	background-color: #fff;
}
.nav-item {
    border-right: 1px solid #ccc;
    display: inline-block;
    line-height: 60px;
    padding: 10px 15px 0px;
}
.nav-item.active {
    border-bottom: 10px solid black;
}
.metierbleu{
	background-color: #084B89;
	box-shadow: 0 0 20px rgba(0,0,0,0.5) inset;
}
.metierbleu1{
	background-color: #293A86;
	box-shadow: 0 0 20px rgba(0,0,0,0.5) inset;
}
.metierimage{
	
}
.metier1{
  overlay: ;
  background:
   /* top, transparent red */ 
    linear-gradient(
      rgba(255, 0, 0, 0.45), 
      rgba(255, 0, 0, 0.45)
    ),
    /* bottom, image */
    url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample99.jpg);
  background-color: #084B89;
  box-shadow: 0 0 20px rgba(0,0,0,0.5) inset;
}
/*Section 1*/
.titresection1{
  padding-left: 10%;
}

/*CARD IMG*/
.card-img-top {
    border-bottom: 8px solid green;
}
.card-title{
  padding-top: 30px;
  font-weight: 700;
  text-transform: uppercase;
}
.card{
  border: none !important;
}
.card-text {
    font-size: 0.8em;
}
/*boite*/
.boite {
    max-width: 70%;
    padding: 50px 0 0 50px !important;
}

#section3 .fp-tableCell {
    vertical-align: top !important;
}