/*
	Les couleurs le vert : 	#29B173
							#1C9C5A
	Le bleu #2C4291
	
	metiers : 	#293A86
				#084B89
*/

@media(min-width: 768px){
  .col-1-5{
    width: 50%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media(min-width: 992px){
  .col-1-5{
    width:20%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media(max-width: 768px){
  .col-1-5{
    width:100%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }
}

.col-1-5 {
  border: 3px dashed red;
  height: 150px;
}
/*SECTION FULLPAGE*/
.section{
	background-size: cover;
}
#section0{
		background-image: url(../assets/img/bg5.jpg);
	}
	
.section:before {
    content:'';
    position:absolute;
    width:100%;
    height:10px;
    background:linear-gradient(to left,#1caa74, #2b4093);
    /*top:-10px;*/
    left:0;
}
.droite{
	background-color: #000000;
}
.row {
  margin-right: -15px;
  margin-left: -15px;
}
.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.navbar {
	margin-top: 10px;
	background-color: transparent !important;
}
.mymenu{
	margin:0px 140px;
	padding: 0px 20px;
}
ul.mymenu{
	background-color: #fff;
}
.metierbleu{
	background-color: #084B89;
	box-shadow: 0 0 20px rgba(0,0,0,0.5) inset;
}
.metierbleu1{
	background-color: #293A86;
	box-shadow: 0 0 20px rgba(0,0,0,0.5) inset;
}
.metierimage{
	
}